<h1 class="text-center">
  <a href='#' class="previous-month">
    <i class="small glyphicon glyphicon-chevron-left"></i>
  </a>
  {{title}}
  <a href='#' class="next-month">
    <i class="small glyphicon glyphicon-chevron-right"></i>
  </a>
</h1>
<table class="calendar">
  <tr>
    <th>Su</th>
    <th>Mo</th>
    <th>Tu</th>
    <th>We</th>
    <th>Th</th>
    <th>Fr</th>
    <th>Sa</th>
  </tr>

  {{#each weeks}}
    <tr>
      {{#each this}}
        {{#if this}}
          <td>
            {{this}}<br/>
            <a href='#'>John Smith</a>
            <br/>
            <a href='#'>Sam Jones</a>
            <br/>
            <a href='#'>+1</a>
            <br/>
          </td>
        {{else}}
          <td class="greyed-out"></td>
        {{/if}}
      {{/each}}
    </tr>
  {{/each}}
</table>
